[package]
name = "enginesound"
version = "1.0.1"
authors = ["dasetwas"]
edition = "2018"
description = """
GUI Application used to generate purely synthetic engine sounds with advanced options in real-time, written in Rust
It features real-time recording of the engine, a CLI interface, automatic crossfading to create seamless loops in the CLI and preset saving/loading capabilities.
"""

[dependencies]
# recording #
hound = "3.4.0"
crossbeam = "0.7.1"
chrono = "0.4.6"

# saving presets #
serde = { version = "1.0.90", features = ["derive"] }
ron = "0.5.1"

# misc #
parking_lot = "0.7.1"

# gui #
glium = "0.23.0"
conrod_core = "0.63.0"
conrod_glium = "0.63.0"
conrod_winit = "0.63.0"

# sound #
rand_core = "0.4.0"
rand_xorshift ="0.1.1"
sdl2 = "0.32.2"
simdeez = "0.6.2"
paste = "^0.1.4"

# cli #
clap = "2.33.0"
